

body {
    background-color: #f3f3f7;
    color: #2d2d32;
    font-family: "Lexend Deca";
    
}
h1 {
    display: flex;
    justify-content: center;
}

/* library table */
#libraryTable {
    width: 38rem;
    border-collapse: collapse;
    display: flex;
    
}
#Headers {
    background-color: #c4c4da;
    font-size: 1.5rem;
    
    
}
th {
    
    padding-right: 3rem;
}
td:not(#cellDelete){
    background-color: #b4dfe5;
    padding-right: 3rem;
}

/* form styling */
#bookForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #359caa;
    background-color: #fbffff;
    width: 18rem;
    height: 8rem;
    padding: 1rem;
}
#submitButton {
    display: flex;
    justify-content: center;
}
button {
    background-color: #c4c4da;
    border: none;
}
button:hover:not([disabled]) {
    background-color: #359caa;
    color: #fbffff;
    
    
}

#editDiv {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 5rem;
    margin: 1rem;
    border: 1rem;
}